// Scss Document

.alite_tag{
	border-style: solid;
	border-color: coral;
	background-color: khaki;
	padding: 5px;
	display: inline-block;
}

.alite_attibute{
	border-style: solid;
	border-color: darkmagenta;	
	padding: 5px;
	display: inline-block;
}