// Scss Document

p{
	//background-color: aquamarine;
}

.alite_tag{
	border-style: solid;
	border-color: coral;
	
	padding: 5px;
}

.alite_attibute{
	border-style: solid;
	border-color: darkmagenta;	
	padding: 5px;
}